.hero {
  background-image: url("/assets/resources/photos/banner_0.jpg");
}


/**** PRODUCTS ****/

.product-container {
  padding: 30px;
  margin: 70px 0;
}

.product-container h2 {
  text-align: center;
  font-size: 26px;
  color: rgba(34, 34, 34, 0.64);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.products {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
}

.product-card {
  position: relative;
  width: 340px;
  transform: scale(1);
  transition: transform .3s ease-in;
}

.product-card:hover{
  transform: scale(1.02);
}

.product-card:nth-child(1){
  margin-top: 0;
}

.product-img {
  width: 100%;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-body {
  bottom: -60px;
  left: 15px;
  right: 15px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(34, 34, 34, 0.2);
  background-color: #fff;
  padding: 10px;
}

.product-body .product_head h4 {
  text-transform: capitalize;
}

.product-content p{
  font-size: 0.8rem;
  max-width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
}

.product-links{
  margin-top: 0.6rem;
  display: grid;
  place-items: center;
}

.product-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgb(255, 151, 66);
  padding: 0.6em 1em;
  font-size: 12px;
  border-radius: 20px;
  text-transform: capitalize;
}

.product-link>img {
  width: 0.7rem;
  margin-left: 0.4rem;
}

.rating {
  margin-bottom: 10px;
  font-size: 12px;
}

.fa-star {
  color: var(--lightorange);
}
@media screen and (max-width: 1280px) {
  .product-container {
    padding: 30px;
  }

  .products {
    width: 100%;
  }

  .product-card {
    width: 300px;
  }

  .product-body .product_head h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .product-container {
    padding: 20px;
  }

  .products {
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

}
@media screen and (max-width: 840px) {
  .products {
    flex-direction: column;
    gap: 2rem;
  }
  .product-card {
    flex-grow: 1;
    margin-top: 4rem;
    width: 70%;
  }
}

/**** STAGES ****/

.stage-container {
  padding: 30px;
}

.stage-container h2 {
  text-align: center;
  font-size: 26px;
  color: rgba(34, 34, 34, 0.64);
  text-transform: capitalize;
}

.stages {
  max-width: 1500px;
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 6px;
}

.stage {
  width: 300px;
  padding: 30px;
  box-shadow: 0px 2px 8px rgba(93, 93, 93, 0.2);
  border-radius: 14px;
  text-align: center;
  transition: all .3s ease-in-out;
  flex-grow: 1;
}

.stage:hover{
  background-color: rgba(255, 151, 66, 0.8);
}
.stage:hover h3,.stage:hover p{
  color: #fff;
}

.stage-head {
  margin: 6px 0;
}

.stage-head img {
  width: 3rem;
  margin-bottom: 4px;
}

.stage-head h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.stage p {
  text-align: center;
  font-size: 0.8rem;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
}

/**** C.T.A ****/

/* .cta {
  width: 56rem;
  margin: 8rem auto;
} */

.fill-ins{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem auto;
  flex-wrap: wrap;
}

.fill-in-content{
  width: 60%;
}

.fill-in-content h2 {
  position: relative;
  font-weight: 700;
  color: #333;
  font-size: 28px;
  text-transform: capitalize;
} 

.fill-in-content a {
  font-weight: 700g;
  color: var(--lightorange);
  text-transform: capitalize;
} 
.fill-in-content a:hover {
  color: inherit;
} 

.fill-in-svg {
  width: 16rem;
}

@media screen and (max-width: 690px) {
  .fill-ins{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fill-in-content{
    width: 80%;
  }
}


/**** WOW SECTION ****/

.listen-container {
  margin: 20px auto;
  max-width: 100%;
  /* padding: 60px; 
   background: linear-gradient(70deg, rgb(27, 27, 27), rgb(255, 151, 66)); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
}

.listen-img {
  max-width: 40%;
}

.listen-img img {
  width: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 16px rgba(255, 151, 66, 0.8);
}

.listen-content {
  max-width: 60%;
  margin: auto;
  color: #fff;
}

.listen-content h3 {
  font-size: 30px;
}

.listen-content b {
  color: rgb(255, 190, 136);
}

.listen-content p {
  font-size: 14px;
  line-height: 1.5;
}

.listen-link {
  display: inline-block;
  text-transform: capitalize;
  color: rgb(255, 151, 66);
  font-size: 14px;
  background-color: #fff;
  margin-top: 10px;
  padding: 4px 10px;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}

.listen-link:hover {
  background-color: rgb(255, 151, 66);
  color: #fff;
  box-shadow: 2px 2px 16px rgba(255, 151, 66, 0.8);
}

/* Slideshow container */

.swiper {
  width: 100%;
  height: 100%;
  margin: 50px 0;
    background-color: #333;
  padding: 60px;
}

  /* .swiper-slide {
 text-align: center; font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
 
 
 swiper-button-next
swiper-button-prev
swiper-pagination{} background: linear-gradient(70deg, rgb(27, 27, 27), rgb(255, 151, 66));
} */


.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev{
  color: var(--lightorange);
}

.swiper-pagination-bullet-active {
    background: var(--lightorange);
}
@media screen and (max-width: 1280px) {
 .listen-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listen-img {
    max-width: 100%;
  }

  .listen-img img {
    width: 400px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 2px 2px 16px rgba(255, 151, 66, 0.8);
  }

  .listen-content {
    max-width: 100%;
    color: #fff;
    text-align: left;
  }

  .listen-content h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 991px) {
.listen-img {
    max-width: 100%;
  }

  .listen-img img {
    width: 400px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 2px 2px 16px rgba(255, 151, 66, 0.8);
  }

  .listen-content {
    max-width: 100%;
    color: #fff;
    text-align: left;
    margin-left: 14px;
  }

  .listen-content h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 860px) {
  .listen-img {
    max-width: 100%;
  }

  .listen-img img {
    width: 400px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 2px 2px 16px rgba(255, 151, 66, 0.8);
  }

  .listen-content {
    max-width: 100%;
    color: #fff;
    text-align: left;
    margin-left: 14px;
  }

  .listen-content h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  /* .listen-container{
    padding: 50px;
  } */

  .listen-img {
    max-width: 100%;
  }

  .listen-img img {
    width: 360px;
  }

  .listen-content {
    max-width: 100%;
    color: #fff;
    text-align: left;
    margin-left: 24px;
  }

  .listen-content h3 {
    font-size: 24px;
  }

  .listen-content p {
    font-size: 13px;
  }
}

@media screen and (max-width: 640px) {
.swiper{
    padding:40px;
  }

  .listen-container{
    grid-template-columns: 100%;
  }

  .listen-img {
    max-width: 100%;
  }

  .listen-img img {
    width: 80%;
  }

  .listen-content {
    max-width: 100%;
    color: #fff;
    text-align: center;
    margin-left: 0;
  }

  .listen-content h3 {
    font-size: 22px;
  }

  .listen-content p {
    font-size: 14px;
  }
}

@media screen and (max-width: 574px) {
  .swiper{
    padding: 30px;
  }

  .listen-container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .listen-img {
    max-width: 100%;
  }

  .listen-img img {
    width: 100%;
  }

  .listen-content {
    max-width: 100%;
    color: #fff;
  }

  .listen-content h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .listen-container {
    padding: 30px;
  }

  .listen-img {
    max-width: 100%;
  }

  .listen-img img {
    width: 360px;
  }

  .listen-content {
    max-width: 100%;
    color: #fff;
  }

  .listen-content h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 380px) {
.listen-container {
    padding: 0px;
  }

  .listen-img {
    max-width: 100%;
  }

  .listen-img img {
    width: 300px;
  }

  .listen-content {
    max-width: 100%;
    color: #fff;
  }

  .listen-content h3 {
    font-size: 20px;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 28px;
  }
}

@media screen and (max-width: 360px) {
  .listen-container {
    padding: 0px;
  }

  .listen-img {
    max-width: 100%;
  }

  .listen-img img {
    width: 300px;
  }

  .listen-content {
    max-width: 100%;
    color: #fff;
  }

  .listen-content h3 {
    font-size: 20px;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 28px;
  }
}

/**** TESTIMONIALS ****/

.testimonial-container {
  padding: 30px;
  margin: auto;
}

.testimonial-container .quote {
  position: absolute;
  width: 5rem;
  bottom: 10px;
  right: 8px;
  z-index: 10;
  transform: rotateY(180deg);
  transform: rotatez(180deg);
  opacity: 0.1;
}

.testimonial-container h2 {
  text-align: center;
  font-size: 26px;
  color: rgba(34, 34, 34, 0.64);
  text-transform: capitalize;
}

.testimonial-container ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 40px auto;
}

.testimonial-container ul li {
  width: 25%;
  flex-grow: 1;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(45, 45, 45, 0.2);
  position: relative;
}

.card-head {
  display: flex;
  margin-top: 10px;
}

.card-head img {
  width: 30px;
  height: 30px;
  border: 2px solid #222;
  border-radius: 40px;
}

.card_user {
  margin-left: 6px;
}

.name {
  font-size: 14px;
}

.title {
  font-size: 12px;
}

.card-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-detail {
  font-size: 13px;
  color: #444;
  line-height: 1.5;
}

.testimonial-container ul li:nth-child(1) {
  background-color: var(--lightorange);
  color: #fff;
}

.testimonial-container ul li:nth-child(4) {
  background-color: #333;
  color: #fff;
}

.testimonial-container ul li:nth-child(4) > .card-detail {
  color: #dbdbdb;
}

@media screen and (max-width: 991px) {

.testimonial-container ul li {
  width: 80%;
}
}
