.hero {
    background-image: url("/assets/resources/photos/photo-4.jpg");
  }

  .school-container{
    margin: 40px 0;
  }

  .school{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    padding: 40px;
    flex-wrap: wrap;
  }

  .school-content{
    width: 60%;
  }

  .school h2 {
    position: relative;
    font-weight: 700;
    color: #333;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  .school h2::before { 
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 50px;
    height: 3px;
    /* background: -webkit-gradient( linear, left top, right top, from(var(--bg-theme-color2)), to(transparent) ); */
    background: linear-gradient(to right, rgb(27, 27, 27), rgb(255, 151, 66), transparent);
    content: "";
} 

  .school-svg {
    width: 16rem;
  }

  @media screen and (max-width: 890px) {

    .school-svg {
      width: 14rem;
    }
  }
  @media screen and (max-width: 767px) {

    .school-svg {
      margin: 0.6rem auto;
    }
  }
  
  @media screen and (max-width: 574px) {

    .school-svg {
      width: 10rem;
    }

  }
  
  @media screen and (max-width: 480px) {

    .school-svg {
      width: 14rem;
      margin: 1rem 0;
    }
  }
  
  @media screen and (max-width: 380px) {

    .school-svg {
      width: 14rem;
      margin: 1rem 0;
    }
  }
  

  .signup-form{
    width: 50vw;
    margin: 8rem auto;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(98, 98, 98, 0.2);
    padding: 1em;
  }

  .signup-form form{
    border-radius:0 0 10px 10px;
  }

  .signup-form h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    color: #333;
  }

  .signup-form h3{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
    color: #333;
  }

  .signup-form form label{
    text-transform: capitalize;
    font-size: 0.8rem;
  }

  .signup-form form input{
    width: 100%;
    display: block;
    text-transform: capitalize;
    margin-bottom: 0.6rem;
    padding: 0.6em 0.4em;
    border: 1px solid #222;
    border-radius: 6px;
    outline: none;
  }
  .signup-form form input:focus{
    border-color: var(--lightorange);
  }

  .signup-form form .schools input{
    text-transform: capitalize;
    width: 5%;
  }
  
  .signup-form form .schools ul li{
    width: 80%;
    display: flex;
    align-items: center;
  }

  .signup-form form button{
    display: block;
    text-transform: capitalize;
    padding: 4px 16px;
    border: none;
    border-radius: 6px;
    outline: none;
    margin-top: 1rem;
  }

  @media screen and (max-width:1280px){
    
  }
  @media screen and (max-width:991px){

  }
  @media screen and (max-width:860px){

  }
  @media screen and (max-width:767px){
    .school{
      align-items: center;
      justify-content: space-between;
      margin: 40px auto;
      flex-direction: column;
    }

    .school h2::before{
      left: 30%;
    }

    .school-content{
      text-align: center;
      margin-bottom: 30px;
    }

    .signup-form{
      width: 80vw;
    }
  
  }
  @media screen and (max-width:640px){

  }
  @media screen and (max-width:574px){

  }
  @media screen and (max-width:480px){

  }
  @media screen and (max-width:360px){
  
    .school-container{
      margin: 40px 0;
    }
  
    .school{
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 40px auto;
      padding: 40px;
    }
  
    .school-content{
      width: 100%;
    }
  
    .school-content h2{
      text-transform: capitalize;
    }
  
  }