:root {
  --orange: rgb(252, 142, 51);

  --lightorange: rgb(255, 151, 66);
  --black: rgb(27, 27, 27);
  --lightblue: rgb(232, 240, 254);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 28px 2%;
}

.head-img img {
  width: 30px;
}

header a {
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  transition: all 0.4s ease;
}

.hero {
  position: relative;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.cover {
  width: 100%;
  height: 600px;
  position: absolute;
  box-sizing: border-box;
  background: linear-gradient(
    70deg,
    rgba(27, 27, 27, 0.65),
    rgba(255, 151, 66, 0.7)
  );
}

.hero-content {
  width: 600px;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.hero-content h1 {
  text-transform: capitalize;
  font-size: 2rem;
}

.hero-content p {
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (max-width: 1280px) {
  .hero {
    height: 560px;
  }

  .cover {
    height: 560px;
  }

  .hero-content {
    width: 860px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    height: 540px;
  }

  .cover {
    height: 540px;
  }

  .hero-content {
    width: 780px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height: 500px;
  }

  .cover {
    height: 500px;
  }

  .hero-content {
    width: 680px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 680px) {

  .hero-content {
    width: 580px;
  }
}

@media screen and (max-width: 574px) {

  .hero-content {
    width: 500px;
  }
}

@media screen and (max-width: 480px) {

  .hero-content {
    width: 380px;
  }
}

@media screen and (max-width: 380px) {

  .hero-content {
    width: 320px;
  }
}

@media screen and (max-width: 360px) {

  .hero-content {
    width: 300px;
  }

}


/*** NAVBAR EFFECT ***/

.nav-links {
  width: 700px;
  clip-path: circle(0px at 100% 50%);
  -webkit-clip-path: circle(0px at 100% 50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.6s ease-out;
  pointer-events: none;
}

.nav-links.open {
  clip-path: circle(1200px at 100% 50%);
  -webkit-clip-path: circle(1200px at 100% 50%);
  pointer-events: all;
}

.nav-links li{
  margin-left: 20px;
}

.nav-links li a {
  padding: 4px 10px;
  border-radius: 6px;
}

.nav-links li a:hover {
  background-color: rgba(255, 151, 66, 0.28);
  color: #fff;
  box-shadow: 0px 2px 8px rgba(29, 29, 29, 0.2);
}

.seemore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seemore-link {
  padding: 2px 8px;
  border-radius: 6px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seemore-link:hover {
  background-color: rgba(255, 151, 66, 0.28);
  color: #fff;
  box-shadow: 0px 2px 8px rgba(29, 29, 29, 0.2);
}

.fa-camera{
  padding: 6px;
  border-radius: 20px;
  background-color: rgba(52, 49, 46, 0.4);
  margin-left: 3px;
}

.hamburger{
  width: 24px;
  cursor: pointer;
}

.hamburger .bar, .hamburger::before, .hamburger::after{
  width: 100%;
  content: "";
  display: block;
  height: 3px;
  margin: 4px 0;
  background: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.hamburger.active::before{
  transform:rotate(-45deg) translate(-4px, 5px);
}
.hamburger.active::after{
  transform:rotate(45deg) translate(-4px, -7px);
}
.hamburger.active .bar{
  opacity: 0;
}

.hero-link_1, .hero-link_2{
  display: inline-block;
  font-size: 0.75rem;
  margin-top: 6px;
  padding: 0.5em 1em;
  text-transform: capitalize;
  border-radius: 20px;
  transition: all 0.4s ease-out;
}

.hero-link_1 {
  color: #fff;
  border: 2px solid rgb(255, 151, 66);
  margin-bottom: 0px;
}

.hero-link_1:hover {
  background-color: rgb(255, 151, 66);
  box-shadow: 2px 2px 16px rgba(255, 151, 66, 0.8);
}

.hero-link_2 {
  color: rgb(255, 151, 66);
  border: 2px solid #fff;
  background-color: #fff;
}


.hero-link_2:hover{
  box-shadow: 2px 2px 16px rgba(255, 151, 66, 0.8);
}

footer {
  background-color: var(--black);
  padding: 30px;
  color: rgb(187, 187, 187);
}

.footer-container {
  max-width: 1440px;
  margin: auto;
}

.row {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
}

.footer-left{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-right{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-header {
  display: grid;
  align-items: center;
}

.footer-head {
  display: flex;
  align-items: center;
}

.footer-head img {
  width: 26px;
}

.footer-head h3 {
  margin-bottom: 0;
  margin-left: 4px;
}

.footer-content{
  margin-top: 6px;
  font-size: 14px;
}

.footer-col {
  width: 30%;
  padding: 0 15px;
}

.footer-col h4,
h3 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}

.footer-col ul li a {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: rgb(187, 187, 187);
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: var(--orange);
  padding-left: 10px;
}

.footer-left .social-links {
  margin-top: 10px;
}

.footer-left .social-links a {
  display: inline-block;
  font-size: 15px;
  height: 30px;
  width: 30px;
  margin: 0 0 10px 0;
  line-height: 30px;
  background-color: rgba(161, 159, 159, 0.2);
  text-align: center;
  color: rgb(255, 255, 255);
  transition: all 0.5 ease;
  border-radius: 50%;
}

.footer-left .social-links a:hover {
  color: var(--orange);
  background-color: rgb(255, 255, 255);
}

.bar {
  height: 28px;
  width: 28px;
  color: #fff;
  font-size: 20px;
}

.copy{
  padding-top: 40px ;
  font-size: 13px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  header {
    padding: 14px 2%;
  }
}

@media screen and (max-width: 991px) {
  header {
    align-items: center;
    justify-content: space-between;
    padding: 16px 2%;
  }
  
  header a{
    font-size: 13px;
  }

  .hamburger{
    position: relative;
  }

      /*** MOBILE NAVBAR  ***/

.nav-links {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 180px;
  clip-path: circle(0px at 100% 50%);
  -webkit-clip-path: circle(0px at 100% 50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.6s ease-out;
  pointer-events: none;
  background-color:rgb(47, 47, 47);
  padding: 10px;
  border-radius: 8px;
}

.nav-links.open {
  clip-path: circle(1200px at 100% 50%);
  -webkit-clip-path: circle(1200px at 100% 50%);
  pointer-events: all;
  width: 30vw;
}
.nav-links.open li{
  padding: 0.1em;
}

.nav-links.open li a:hover {
  background-color: rgba(255, 151, 66, 0.7);
  box-shadow: none;
}
@media (max-width:540px){
  .nav-links.open {
    width: 50vw;
  }
}

.nav-links li{
  margin-left: 0px;
  margin-bottom: 6px ;
}

.nav-links li:nth-child(4){
  margin-bottom: 0px ;
}

.row {
  display: grid;
  max-width: 100%;
  grid-template-columns: 100%;
}

.footer-right{
  flex-direction: column;
  align-items: flex-start;
}

}

@media screen and (max-width: 640px) {

  footer{
    padding: 40px 10px;
  }

  .footer-header  {
    width: 100%;
    padding: 10px;
}
  
.footer-header h3 {
    margin-bottom: 0;
    font-size: 15px;
}

.footer-col .social-links {
  margin: 10px auto;
  padding: 0 10px;
}

.footer-col .social-links a {
  font-size: 12px;
  height: 26px;
  width: 26px;
  line-height: 26px;

}
}

@media screen and (max-width: 574px) {

  header {
    padding: 16px 4%;
  }

  footer {
    padding: 30px 6px;
  }

  .footer-col {
    width: 100%;
  }

  .footer-col h4,
  h3 {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 16px 4%;
  }
}

@media screen and (max-width: 360px) {
  header {
    padding: 16px 6%;
  }

  .hero-links .hero-link_2 {
    margin-top: 20px;
  }
  
  footer {
    padding: 20px;
  }

.footer-col .social-links a {
  font-size: 14.6px;
  height: 26px;
  width: 26px;
  line-height: 26px;
}
}